* {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

body{
    background-color: chocolate;
}

.title {
    font-size: 50px;
    text-align: center;
    background-color: darkblue;
    color: whitesmoke;
}

.recipe-list{
    font-size: 22px;
}

img{
    width: 500px;
    height: auto;
    text-align: center;
}

.description{
    font-size: 32px;
    font-weight: bold;
}

.description-child{
    font-style: italic;
}